@using BioField.Models;
@model IEnumerable<BioField.Models.Entries>;

<h1>All entries</h1>
@if (Model.Any())
{
    <ul>
        @foreach (Entries entry in Model)
        {
            <li>@html.ActionLink($"{entry.Site}", "Info", new { id = entry.EntryId })</li>
        }
    </ul>
}
else
{
    <h3>There are no entries at this time</h3>
}

<p>@Html.ActionLink("Add a New Entry", "Create")</p>
<p>@Html.ActionLink("See All Journals", "Index", "Journals")</p>
<p>@Html.ActionLink("Go back to home", "Index", "Home")</p>