@{
    ViewData["Title"] = "Home Page";
}
<div class="container formatedCreate">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     <img class="crabs" src="~/img/crabs.jpg">
    <p class="description"><i>Yellow Shore Crabs</i> taken by <i>Erin Deuel</i></p>
</div>
</div>